/memclr_amd64.obj
/memclr_i386.obj
/memcpy_amd64.obj
/memcpy_i386.obj
/mkfw.amd64.exe
/mkfw.exe
/mkfw.i386.exe
/mkfw.obj
/wcslen_amd64.obj
/wcslen_i386.obj
/wcsncmp_amd64.obj
/wcsncmp_i386.obj
